<tr>
  <td><%= client.name %></td>
  <td><%= client.location %></td>
  <td>
  <%= link_to admin_client_path(client),id: "client_#{client.id}" do %>
    <span class="glyphicon glyphicon-search"></span>  Detalles
  <% end %>
  </td>
</tr>
