<h1>Servicios
<%= link_to '#new_service_modal', 'data-toggle' => 'modal', class: "btn btn-primary" do %>
  <span class="glyphicon glyphicon-plus"></span> Nuevo Servicio
<% end %>
</h1>

<table class="table" id="service_table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Tarifa</th>
    </tr>
  </thead>

  <tbody>
    <% @services.each do |service| %>
      <%= render partial: 'table_row', locals: {service: service} %>
    <% end %>
  </tbody>
</table>


<div class="modal fade" id="new_service_modal" tabindex="-1" role="dialog"
 aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Nuevo servicio</h4>
      </div>
      <div class="modal-body">
        <%= render 'form', service: @service %>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    sortTable("#service_table", "name");
  });
</script>
