<h1>Espacios
<%= link_to '#new_location_modal', 'data-toggle' => 'modal', class: "btn btn-primary" do %>
  <span class="glyphicon glyphicon-plus"></span> Nuevo Espacio
<% end %>
</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripción</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody id='location_table'>
    <% @locations.each do |location| %>
      <%= render partial: 'table_row', locals: {location: location} %>
    <% end %>
  </tbody>
</table>


<div class="modal fade" id="new_location_modal" tabindex="-1" role="dialog"
 aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Nuevo espacio</h4>
      </div>
      <div class="modal-body">
        <%= render 'form', location: @location %>
      </div>
    </div>
  </div>
</div>
