<h2>Movimientos
  <button type="button" onclick = "this.style.visibility='hidden'"
  class="btn btn-primary" data-toggle="collapse" data-target="#demo" id="new_transaction_button">
    <span class="glyphicon glyphicon-plus"></span>  Nuevo movimiento
  </button>
</h2>

<div id="demo" class="collapse well">
  <%= render partial: "form", locals: { admin: @transaction }%>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Concepto</th>
      <th>Comentario</th>
      <th>Fecha</th>
      <th>Cantidad</th>
    </tr>
  </thead>
  <tbody id="transaction_table">
    <% @transactions.each do |transaction| %>
      <%= render partial: 'row', locals: { transaction: transaction } %>
    <% end %>
  </tbody>
</table>
