/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrapValidator.min
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-inverse {
  background-color: #00857B;
  .navbar-brand {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
  }
  .navbar-nav > li > a {
    color: #ffffff;
  }
}

.navbar {
  border: none;
  border-radius: 0;
}



td .actions {
  text-align: right;
}

#charges_table {
  td {
    white-space: nowrap;
    &.concept {
      width: 100%;
      white-space: normal;
    }
  }
  .charge_quantity {
    color: red;
  }
  .payment_quantity {
    color: green;
  }
}

#transaction_table {
  tbody {
    td {
      white-space: nowrap;
      &.concept {
        width: 100%;
        white-space: normal;
      }
    &.ingreso {
      color: green;
      }
    &.egreso {
      color: red;
      }
    }
  }
}

#new_payment_modal {
  .form-inline {
    .small-label {
      font-weight: normal;
    }
  }
}

#clients_table {
  tbody {
    td {
      #balance {
        text-decoration: none;
      }
      #positive_balance {
        color: green;
      }
      #negative_balance {
        color: red;
      }
    }
    small {
      color: darkgray;
    }
  }
}
