<p>Hola <%= @resource.email %>!</p>

<p>Alguien ha pedido un cambio de contraseña. Puedes hacerlo mediante el siguiente link.</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>Si no pediste el cambio de contraseña por favor ignora el email.</p>
<p>Tu contraseña no cambiará hasta que hagas click en el link de arriba y crees una nueva.</p>
